In [1]:
from pathlib import Path
import pandas as pd

In [2]:
arr = []
for r in Path('/mnt/data2/ptf/co_exp/lemma_nostop_hyper/res2').glob('*'):
    try:
        txt = r.read_text().split()[-1]
        arr.append({'res': float(txt), 'ds':r.name.split('.')[0], 'params':' '.join(r.name.split('.')[1:])})
    except:
        pass
# sorted(arr, key=lambda x: x[0])

In [3]:
df = pd.DataFrame(arr)

In [4]:
df.groupby('params').sum().reset_index().sort_values('res', ascending=False).head(5).merge(df, on='params')

                                 params  res_x         ds  res_y
0   txt svd 3 4 400 dyn del 0 2 100 txt  3.623      gur65  0.658
1   txt svd 3 4 400 dyn del 0 2 100 txt  3.623     gur350  0.469
2   txt svd 3 4 400 dyn del 0 2 100 txt  3.623      zg222  0.346
3   txt svd 3 4 400 dyn del 0 2 100 txt  3.623   ws353rel  0.541
4   txt svd 3 4 400 dyn del 0 2 100 txt  3.623    schm280  0.660
5   txt svd 3 4 400 dyn del 0 2 100 txt  3.623  simlex999  0.331
6   txt svd 3 4 400 dyn del 0 2 100 txt  3.623   ws353sim  0.618
7   txt svd 3 4 400 dyn del 0 1 100 txt  3.621     gur350  0.471
8   txt svd 3 4 400 dyn del 0 1 100 txt  3.621    schm280  0.660
9   txt svd 3 4 400 dyn del 0 1 100 txt  3.621      zg222  0.328
10  txt svd 3 4 400 dyn del 0 1 100 txt  3.621      gur65  0.664
11  txt svd 3 4 400 dyn del 0 1 100 txt  3.621  simlex999  0.336
12  txt svd 3 4 400 dyn del 0 1 100 txt  3.621   ws353rel  0.544
13  txt svd 3 4 400 dyn del 0 1 100 txt  3.621   ws353sim  0.618
14  txt svd 3 4 400 dyn del 0 0 100 txt  3.595   ws353sim  0.615
15  txt svd 3 4 400 dyn del 0 0 100 txt  3.595      gur65  0.666
16  txt svd 3 4 400 dyn del 0 0 100 txt  3.595   ws353rel  0.540
17  txt svd 3 4 400 dyn del 0 0 100 txt  3.595     gur350  0.468
18  txt svd 3 4 400 dyn del 0 0 100 txt  3.595      zg222  0.309
19  txt svd 3 4 400 dyn del 0 0 100 txt  3.595  simlex999  0.342
20  txt svd 3 4 400 dyn del 0 0 100 txt  3.595    schm280  0.655
21  txt svd 2 4 400 dyn del 0 2 100 txt  3.595      zg222  0.312
22  txt svd 2 4 400 dyn del 0 2 100 txt  3.595   ws353rel  0.535
23  txt svd 2 4 400 dyn del 0 2 100 txt  3.595     gur350  0.472
24  txt svd 2 4 400 dyn del 0 2 100 txt  3.595    schm280  0.658
25  txt svd 2 4 400 dyn del 0 2 100 txt  3.595  simlex999  0.338
26  txt svd 2 4 400 dyn del 0 2 100 txt  3.595      gur65  0.668
27  txt svd 2 4 400 dyn del 0 2 100 txt  3.595   ws353sim  0.612
28  txt svd 4 4 400 dyn del 0 2 100 txt  3.593  simlex999  0.336
29  txt svd 4 4 400 dyn del 0 2 100 txt  3.593    schm280  0.663
30  txt svd 4 4 400 dyn del 0 2 100 txt  3.593      gur65  0.654
31  txt svd 4 4 400 dyn del 0 2 100 txt  3.593      zg222  0.308
32  txt svd 4 4 400 dyn del 0 2 100 txt  3.593   ws353rel  0.544
33  txt svd 4 4 400 dyn del 0 2 100 txt  3.593     gur350  0.471
34  txt svd 4 4 400 dyn del 0 2 100 txt  3.593   ws353sim  0.617